.estructura__main__contenedorContacto{
    width: 100%;
    @include flexbox(column, wrap, center, center);
    @extend %padding;

    &__titulo{
        text-align: center;
    }

    &__form{
        width: 50%;
        @include flexbox(column, wrap, space-evenly, center);

        &__label{
            text-align: left;
        }

        &__botones {
            width: 100%;
            @include flexbox(row, wrap, space-evenly, center);

            &__check{
                width: 100%;
            }
        }
    }
}



