.estructura__main__contenedorIndex{
    @include flexbox(row, wrap, space-evenly, center);
    @extend %padding;

    &__img{
        width: 30%;
        max-width: 450px;
        height: fit-content;
    }

    &__texto{
        width: 40%;
        @include flexbox(column, wrap, center, center);
        text-align: center;
    }
}



