.estructura__main__contenedorNosotros{
    @include flexbox(column, wrap, center, center);
    align-items: center;
    @extend %padding;

    &__texto{
        width: 70%;
        text-align: center;
    }

    &__cont{
        width: 90%;

        &__mapa{
            height: 350px;
        }

        &__horarios{
            @include flexbox(column, wrap, center, center);
            text-align: center;
        }
    }
}



