.estructura__main__contenedorNosotros{
    @include flexbox(column, wrap, center, center);
    @extend %padding;

    &__texto{
        width: 70%;
        text-align: center;
    }

    &__cont{
        width: 70%;
        height: 330px;

        &__mapa{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
}



