.estructura__main__contenedorProductos{
    @include flexbox(column, wrap, center, center);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;

    &__tabla{
        width: 60%;
    }
}

