.estructura__main__contenedorProductos{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;

    &__tabla{
        width: 60%;
    }
}

