.estructura__footer{ 
    background-color: map-get($colores, principal);
    color: map-get($colores, items);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-around;

    &__lista{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    
        &__item{
            display: inline-block;
            width: 11%;
        }
    }

    &__texto{
        font-weight: 900;
        text-align: center;
    }
}

.linkFacebook:hover{
    color: map-get($colores, facebook);
}

.linkInstagram:hover{
    color: map-get($colores, instagram);
}
