*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

h2{
    margin-bottom: 10px;
}

li a{
    text-decoration: none;
    color: map-get($colores, items);
    font-size: 20px;
}

.estructura__main{
    background-color: map-get($colores, secundario);

    &__boton{
        position: fixed;
        right: 2%;
        top: 45%;
        z-index: 10;
        filter: drop-shadow(10px 10px 4px map-get($colores, sombra-boton));

        &:hover{
            animation: mov 0.5s ease-in-out infinite both;
        }
    }
}
