.estructura__header{
    background-color: map-get($colores, principal);

    &__contenedor{
        display: flex;
        flex-flow: row wrap;
    }
    
    &__logo{
        width: 100%;
        max-width: 150px;
    
       &:hover{
            animation: tambaleo 0.8s both;
        }
    }
    
    &__titulo{
        color: map-get($colores, titulo);
    }
}

.navbar{
    padding-top: 0;
    padding-bottom: 5px;
}

.nav-link{
    text-decoration: none;
    color: map-get($colores, items);

    &.active{
        color: map-get($colores, secundario);
    }

    &:hover{
        color: lightgray;
    }
}


