.estructura__header{
    &__contenedor{
        display: flex;
        flex-flow: row wrap;
    }
    
    &__logo{
        width: 100%;
        max-width: 150px;
    
       &:hover{
            animation: tambaleo 0.8s both;
        }
    }
    
    &__titulo{
        color: white;
    }
}

.navbar{
    padding-top: 0;
    padding-bottom: 5px;
}


