$colores:(
    principal: rgba(33,37,41,1),
    secundario: rgba(248,249,250,1),
    texto-body: #212529,
    items: #afafaf,
    titulo: white,
    facebook: #3b5998,
    instagram: blueviolet,
    th: #AEFEFF,
    bna: #007894,
    sombra-boton: grey
);
    
    
