$colores:(
    principal: rgba(33,37,41,1),
    secundario: rgba(248,249,250,1),
    texto-body: #212529,
    items: #afafaf,
    items-hover: lightgrey,
    titulo: white,
    facebook: #3b5998,
    instagram: blueviolet,
    th: #AEFEFF,
    bna: #007894,
    sombra-boton: grey
);
    
@mixin flexbox ($direction, $wrap, $justify, $align){
    display: flex;
    flex-flow: $direction $wrap;
    justify-content: $justify;
    align-content: $align;
}

%padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
    
